<div class="card fixed bottom-0 left-0 right-0 z-50">
     <p-card>
          <div class="flex justify-between items-center h-2 py-2 gap-x-10 sm:gap-x-0 px-4 sm:px-0">
               <div *ngFor="let item of navItems" (click)="reRoute(item.route)" [ngClass]="[
             'flex flex-col items-center text-center flex-1 cursor-pointer transition-colors',
             isActive(item.route)
               ? 'text-[var(--p-primary-color)]'
               : 'hover:text-[var(--p-primary-color)]'
           ]">
                    <i [class]="item.icon + ' mb-1'"></i>
                    <span class="text-xs font-medium">{{ item.label }}</span>
               </div>
          </div>
     </p-card>
</div>