<div class="card fixed top-0 left-0 right-0 z-50 bg-white">
     <div class="flex justify-between items-center py-2 h-16 px-4 bg-white">
       <!-- Left-aligned text -->
       <div style="display: flex; justify-content: center; align-items: center;">
          <img src="../ftmlogos/ftm_with_text_logo.png" style="height: auto; width: 140px;" />
     </div>
       
       <!-- Right-aligned icon -->
       <div>
         <i class="pi pi-megaphone text-xl text-gray-600"></i>
       </div>
     </div>
   </div>
   