<p-dialog header="Submit Line Up" [modal]="true" [(visible)]="visible"  (onHide)="closeDialog()">
     <form [formGroup]="lineUpDataForm" (ngSubmit)="onSubmitLineUpDataForm()">
          <div class="schedule" *ngIf="viewIndex() === 0">
               <span class="p-text-secondary block mb-6">Worship Schedule</span>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel variant="on" class="w-full">
                         <p-datepicker formControlName="worshipDate" appendTo="body" inputId="worshipDate" showIcon
                              iconDisplay="input" fluid />
                         <label for="worshipDate">Worship Date</label>
                    </p-floatlabel>

               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="serviceType" appendTo="body" inputId="service"
                              [options]="services()" optionLabel="name" class="w-full" />
                         <label for="service">Service</label>
                    </p-floatlabel>

               </div>

               <div class="flex justify-end gap-2 mt-8">
                    <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                    <p-button label="Next" (click)="moveViewIndex(1)" [disabled]="!hasSelectedDateAndServiceType()" />
               </div>
          </div>

          <div class="singers" *ngIf="viewIndex() === 1">
               <span class="p-text-secondary block mb-6">Worship Singers</span>
               <div *ngFor="let control of singersControls; let i = index" class="flex items-center gap-4 mb-4">
                    <p-floatlabel variant="on" class="w-full">
                         <p-select [formControl]="control" appendTo="body" [inputId]="'singer-' + i"
                              [options]="getSingerOptions(i)" optionLabel="firstLastName" class="w-full">
                              <ng-template let-value pTemplate="selectedItem">
                                   <span class="block truncate max-w-full">
                                        {{ value?.firstLastName | truncate:30 }}
                                   </span>
                              </ng-template>
                              <ng-template let-option pTemplate="item">
                                   <span class="block truncate max-w-full">
                                        {{ option?.firstLastName | truncate:30 }}
                                   </span>
                              </ng-template>
                         </p-select>

                         <label [for]="'singer-' + i">Singer {{ i+1 }}</label>
                    </p-floatlabel>
                    <p-button severity="danger" *ngIf="i != 0" (click)="removeSinger(i)" icon="fa-solid fa-trash"
                         iconPos="left"></p-button>

               </div>
               <div>
                    <p-button label="Add Singer" (click)="addSinger()" icon="fa-solid fa-user-plus" iconPos="left" fluid
                         [disabled]="singersControls.length >= 6"></p-button>
               </div>


               <div class="flex justify-end gap-2 mt-8">
                    <p-button label="Back" severity="secondary" (click)="moveViewIndex(0)" />
                    <p-button label="Next" (click)="moveViewIndex(2)" [disabled]="!hasFilledAllTheSingerFields()" />
               </div>

          </div>


          <div class="musicians" *ngIf="viewIndex() === 2">

               <span class="p-text-secondary block mb-6">Worship Musicians</span>

               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="drummer" appendTo="body" inputId="drummer"
                              [options]="drummerOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="drummer">Drummer</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="bassist" appendTo="body" inputId="bassist"
                              [options]="bassistOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="bassist">Bassist</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="electricGuitarist1" appendTo="body" inputId="electricGuitarist1"
                              [options]="guitaristOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="electricGuitarist1">Electric Guitarist 1</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="electricGuitarist2" appendTo="body" inputId="electricGuitarist2"
                              [options]="guitaristOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="electricGuitarist2">Electric Guitarist 2</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="acousticGuitarist" appendTo="body" inputId="acousticGuitarist"
                              [options]="guitaristOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="acousticGuitarist">Acoustic Guitar</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="keyboardist1" appendTo="body" inputId="keyboardist1"
                              [options]="keyboardOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="keyboardist1">Keyboardist 1</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="keyboardist2" appendTo="body" inputId="keyboardist2"
                              [options]="keyboardOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="keyboardist2">Keyboardist 2</label>
                    </p-floatlabel>
               </div>

               <div class="flex justify-end gap-2 mt-8">
                    <p-button label="Back" severity="secondary" (click)="moveViewIndex(1)" />
                    <p-button label="Next" (click)="moveViewIndex(3)" />
               </div>


          </div>
          <div class="worshipSongs" *ngIf="viewIndex() === 3">
               <span class="p-text-secondary block mb-6">Worship Songs</span>
               <div *ngFor="let control of songTitleControls; let i = index"
                    class="mb-6 border border-gray-300 rounded-xl p-4">

                    <div class="flex items-center justify-between mb-4 ml-1">
                         <div class="font-semibold text-gray-700">Song {{ i + 1 }}</div>
                         <p-button *ngIf="i !== 0" severity="danger" (click)="removeSong(i)" icon="fa-solid fa-trash"
                              iconPos="left" label="Remove" size="small"></p-button>
                    </div>

                    <!-- Title -->
                    <p-floatlabel variant="on" class="mb-3">
                         <input pInputText inputId="title" [formControl]="songTitleControls[i]" autocomplete="off"
                              fluid />
                         <label for="title">Title</label>
                    </p-floatlabel>

                    <!-- Artist -->
                    <p-floatlabel variant="on" class="mb-3">
                         <input pInputText inputId="artist" [formControl]="songArtistControls[i]" autocomplete="off"
                              fluid />
                         <label for="artist">Artist</label>
                    </p-floatlabel>

                    <!-- Link -->
                    <p-floatlabel variant="on" class="mb-3">
                         <p-iconfield>
                              <p-inputicon class="fa-solid fa-link" />
                              <input pInputText id="link" [formControl]="songLinkControls[i]" autocomplete="off"
                                   fluid />
                         </p-iconfield>
                         <label for="link">Link</label>
                    </p-floatlabel>

                    <!-- Assigned Singer -->
                    <p-floatlabel variant="on" class="w-full mb-3">
                         <p-select [formControl]="songAssignedSingerControls[i]" appendTo="body"
                              inputId="songAssignedSinger" [options]="getSongAssignedSingers()"
                              optionLabel="firstLastName" optionValue="userAccountId" class="w-full">
                              <ng-template let-value pTemplate="selectedItem">
                                   <span class="block truncate max-w-full">
                                        {{ value?.firstLastName | truncate: 30 }}
                                   </span>
                              </ng-template>
                              <ng-template let-option pTemplate="item">
                                   <span class="block truncate max-w-full">
                                        {{ option?.firstLastName | truncate: 30 }}
                                   </span>
                              </ng-template>
                         </p-select>
                         <label for="songAssignedSinger">Assigned Singer</label>
                    </p-floatlabel>
               </div>

               <div>
                    <p-button label="Add Song" (click)="addSong()" icon="fa-solid fa-plus" iconPos="left"
                         fluid></p-button>
               </div>
               <div class="flex justify-end gap-2 mt-8">
                    <p-button label="Back" severity="secondary" (click)="moveViewIndex(2)" />
                    <p-button label="Next" (click)="moveViewIndex(4)" />
               </div>
          </div>

          <div class="singers" *ngIf="viewIndex() === 4">
               <span class="p-text-secondary block mb-6">Worship Rehearsal</span>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel variant="on" class="w-full">
                         <p-datepicker inputId="rehearsalDateTime" formControlName="rehearsalDateTime" appendTo="body"
                              [showTime]="true" hourFormat="12" fluid />
                         <label for="rehearsalDateTime">Rehearsal Date and Time</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel variant="on" class="w-full">
                         <textarea pTextarea id="rehearsalNotes" formControlName="rehearsalNotes" rows="4" cols="30"
                              style="resize: none" class="h-full" fluid></textarea>
                         <label for="rehearsalNotes">Rehearsal Notes</label>
                    </p-floatlabel>
               </div>

               <div class="flex justify-end gap-2 mt-8">
                    <p-button label="Back" severity="secondary" (click)="moveViewIndex(3)" />
                    <p-button label="Next" (click)="moveViewIndex(5)" />
               </div>

          </div>

          <div class="singers" *ngIf="viewIndex() === 5">
               <span class="p-text-secondary block mb-6">Please review the details before submitting the
                    form.</span>

               <!--Worship Schedule-->
               <div class="font-semibold text-gray-700 mb-6 ml-1">Worship Service Schedule</div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel variant="on" class="w-full">
                         <p-datepicker formControlName="worshipDate" appendTo="body" inputId="worshipDate" showIcon
                              iconDisplay="input" fluid />
                         <label for="worshipDate">Worship Date</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select appendTo="body" formControlName="serviceType" inputId="service"
                              [options]="services()" optionLabel="name" class="w-full" />
                         <label for="service">Service</label>
                    </p-floatlabel>
               </div>

               <!--Worship Singers-->
               <div class="font-semibold text-gray-700 mb-6 ml-1">Worship Singers</div>
               <div *ngFor="let control of singersControls; let i = index" class="flex items-center gap-4 mb-4">
                    <p-floatlabel variant="on" class="w-full">
                         <p-select [formControl]="control" appendTo="body" [inputId]="'singer-' + i"
                              [options]="getSingerOptions(i)" optionLabel="firstLastName" class="w-full">
                              <ng-template let-value pTemplate="selectedItem">
                                   <span class="block truncate max-w-full">
                                        {{ value?.firstLastName | truncate:30 }}
                                   </span>
                              </ng-template>
                              <ng-template let-option pTemplate="item">
                                   <span class="block truncate max-w-full">
                                        {{ option?.firstLastName | truncate:30 }}
                                   </span>
                              </ng-template>
                         </p-select>

                         <label [for]="'singer-' + i">Singer {{ i+1 }}</label>
                    </p-floatlabel>
               </div>

               <!--Worship Musicians-->
               <div class="font-semibold text-gray-700 mb-6 ml-1">Worship Musicians</div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="drummer" appendTo="body" inputId="drummer"
                              [options]="drummerOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="drummer">Drummer</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="bassist" appendTo="body" inputId="bassist"
                              [options]="bassistOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="bassist">Bassist</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="electricGuitarist1" appendTo="body" inputId="electricGuitarist1"
                              [options]="guitaristOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="electricGuitarist1">Electric Guitarist 1</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="electricGuitarist2" appendTo="body" inputId="electricGuitarist2"
                              [options]="guitaristOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="electricGuitarist2">Electric Guitarist 2</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="acousticGuitarist" appendTo="body" inputId="acousticGuitarist"
                              [options]="guitaristOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="acousticGuitarist">Acoustic Guitar</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="keyboardist1" appendTo="body" inputId="keyboardist1"
                              [options]="keyboardOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="keyboardist1">Keyboardist 1</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel class="w-full" variant="on">
                         <p-select formControlName="keyboardist2" appendTo="body" inputId="keyboardist2"
                              [options]="keyboardOptions()" optionLabel="firstLastName" class="w-full" />
                         <label for="keyboardist2">Keyboardist 2</label>
                    </p-floatlabel>
               </div>


               <!--Worship Songs-->
               <div class="font-semibold text-gray-700 mb-6 ml-1">Worship Songs</div>
               <div *ngFor="let control of songTitleControls; let i = index"
                    class="mb-6 border border-gray-300 rounded-xl p-4">

                    <div class="flex items-center justify-between mb-4 ml-1">
                         <div class="font-semibold text-gray-700">Song {{ i + 1 }}</div>
                    </div>

                    <!-- Title -->
                    <p-floatlabel variant="on" class="mb-3">
                         <input pInputText inputId="title" [formControl]="songTitleControls[i]" autocomplete="off"
                              fluid />
                         <label for="title">Title</label>
                    </p-floatlabel>

                    <!-- Artist -->
                    <p-floatlabel variant="on" class="mb-3">
                         <input pInputText inputId="artist" [formControl]="songArtistControls[i]" autocomplete="off"
                              fluid />
                         <label for="artist">Artist</label>
                    </p-floatlabel>

                    <!-- Link -->
                    <p-floatlabel variant="on" class="mb-3">
                         <p-iconfield>
                              <p-inputicon class="fa-solid fa-link" />
                              <input pInputText id="link" [formControl]="songLinkControls[i]" autocomplete="off"
                                   fluid />
                         </p-iconfield>
                         <label for="link">Link</label>
                    </p-floatlabel>

                    <!-- Assigned Singer -->
                    <p-floatlabel variant="on" class="w-full mb-3">
                         <p-select [formControl]="songAssignedSingerControls[i]" appendTo="body"
                              inputId="songAssignedSinger" [options]="getSongAssignedSingers()"
                              optionLabel="firstLastName" optionValue="userAccountId" class="w-full">
                              <ng-template let-value pTemplate="selectedItem">
                                   <span class="block truncate max-w-full">
                                        {{ value?.firstLastName | truncate: 30 }}
                                   </span>
                              </ng-template>
                              <ng-template let-option pTemplate="item">
                                   <span class="block truncate max-w-full">
                                        {{ option?.firstLastName | truncate: 30 }}
                                   </span>
                              </ng-template>
                         </p-select>
                         <label for="songAssignedSinger">Assigned Singer</label>
                    </p-floatlabel>
               </div>

               <!--Rehearsal Details-->
               <div class="font-semibold text-gray-700 mb-6 ml-1">Worship Rehearsal Schedule</div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel variant="on" class="w-full">
                         <p-datepicker inputId="rehearsalDateTime" formControlName="rehearsalDateTime" appendTo="body"
                              [showTime]="true" hourFormat="12" fluid />
                         <label for="rehearsalDateTime">Rehearsal Date and Time</label>
                    </p-floatlabel>
               </div>
               <div class="items-center gap-4 mb-4">
                    <p-floatlabel variant="on" class="w-full">
                         <textarea pTextarea id="rehearsalNotes" formControlName="rehearsalNotes" rows="4" cols="30"
                              style="resize: none" class="h-full" fluid></textarea>
                         <label for="rehearsalNotes">Rehearsal Notes</label>
                    </p-floatlabel>
               </div>
               <div class="flex justify-end gap-2 mt-8">
                    <p-button label="Back" severity="secondary" (click)="moveViewIndex(3)" />
                    <p-button type="submit" label="Submit" />
               </div>
          </div>
     </form>
</p-dialog>