<prime-ng-dialog #primeNgDialog></prime-ng-dialog>



<div *ngIf="!isFetchingData()">
     <div class="sticky top-12 z-40">
          <p-card>
               <div class="flex justify-between items-center w-full px-4 mt-4">
                    <span class="text-lg font-semibold">Worship</span>
                    <p-button (onClick)="openSubmitLineUpDialog()" label="Submit Line Up" icon="fa-solid fa-plus"
                         iconPos="left" severity="primary">
                    </p-button>
               </div>
          </p-card>
     </div>

     <div class="pt-16 pb-16 p-6">
          <submit-line-up [(visible)]="isSubmitLineUpDialogVisible" (newlyAddedLineup)="onLineUpAdded($event)"></submit-line-up>
          <div *ngFor="let item of items">
               <div class="submitted-lineup">
                    <span class="ml-6 text-lg font-semibold text-gray-700">For Approval</span>
                    <div class="horizontal-scroll-container overflow-x-auto whitespace-nowrap px-2 py-4">
                         <p-card severity="primary" *ngFor="let lineUp of sortedLineUps()"
                              class="inline-block w-auto min-w-[8rem] px-1 ">

                              <ng-template #title>
                                   <div class="text-center text-lg font-semibold mb-0">
                                        {{ lineUp.serviceType }}
                                   </div>
                              </ng-template>
                              <ng-template #subtitle>
                                   <div class="text-center text-xs">
                                        {{ lineUp.worshipDate | formatDateTime: 'date' }}
                                   </div>
                              </ng-template>
                         </p-card>
                    </div>
               </div>
          </div>

     </div>

</div>