<p-toast [position]="'top-center'"></p-toast>
<prime-ng-dialog #primeNgDialog></prime-ng-dialog>
<div class="login-container">
     <div class="fixed-logo-watermark">
  <img src="../ftmlogos/ftm_logo_color_only.png" alt="FTM Logo" />
</div>
     <div class="login-form">
          <div style="display: flex; justify-content: center; align-items: center;">
               <img src="../ftmlogos/ftm_logo_color_only.png" style="height: auto; width: 168px;" />
          </div>
          <p style="font-size: 32px; font-weight: 800; text-align: center;">Sign Up</p>
          <div *ngIf="!agreedToDisclaimerMessage()">
               
               <div class="head-details">
                     
                    <p style="font-weight: 200;">By signing up, you agree to provide personal information such as your
                         name
                         and contact details, which are necessary to create and manage your account. Rest assured, all
                         information you share will be kept strictly confidential and will not be shared with third
                         parties
                         without your consent, in accordance with our privacy policy.</p>
                    <p-button (click)="agreedToDisclaimerMessage.set(true)" label="Continue" fluid
                         [style]="{ 'margin-top': '16px' }" />
                    <p-button [routerLink]="'/login'" label="Login Instead" variant="text" severity="info" fluid
                         [style]="{ 'margin-top': '8px' }" />
               </div>
          </div>

          <div *ngIf="agreedToDisclaimerMessage()" class="signUpDisplay">
               <div class="card flex justify-center">
                    <p-stepper [(value)]="activeStep" class="basis-[40rem]">
                         <p-step-list>
                              <p-step [value]="1" class="flex flex-row flex-auto gap-2">
                                   <ng-template #content let-activateCallback="activateCallback" let-value="value">
                                        <button class="bg-transparent border-0 inline-flex flex-col gap-2"
                                             (click)="activateCallback()">
                                             <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                                                  [ngStyle]="value <= activeStep ? {
                                             backgroundColor: 'var(--p-button-primary-background)',
                                             borderColor: 'var(--p-primary-500)',
                                             color: 'var(--p-button-primary-color)'
                                             } : null">
                                                  <i class="fa-solid fa-user" style="font-size: 1rem;"></i>
                                             </span>
                                        </button>
                                   </ng-template>
                              </p-step>

                              <p-step [value]="2" class="flex flex-row flex-auto gap-2">
                                   <ng-template #content let-activateCallback="activateCallback" let-value="value">
                                        <button class="bg-transparent border-0 inline-flex flex-col gap-2"
                                             (click)="activateCallback()">
                                             <span class="rounded-full border-1 w-12 h-12 inline-flex items-center justify-center"
                                                  [ngStyle]="value <= activeStep ? {
                                             backgroundColor: 'var(--p-button-primary-background)',
                                             borderColor: 'var(--p-primary-500)',
                                             color: 'var(--p-button-primary-color)'
                                             } : null
                                             ">
                                                  <i class="fa-solid fa-book-open" style="font-size: 1rem;"></i>
                                             </span>
                                        </button>
                                   </ng-template>
                              </p-step>

                              <p-step [value]="3" class="flex flex-row flex-auto gap-2">
                                   <ng-template #content let-activateCallback="activateCallback" let-value="value">
                                        <button class="bg-transparent border-0 inline-flex flex-col gap-2"
                                             (click)="activateCallback()">
                                             <span class="rounded-full border-1 w-12 h-12 inline-flex items-center justify-center"
                                                  [ngStyle]="value <= activeStep ? {
                                        backgroundColor: 'var(--p-button-primary-background)',
                                        borderColor: 'var(--p-primary-500)',
                                        color: 'var(--p-button-primary-color)'
                                        } : null">
                                                  <i class="fa-solid fa-lock" style="font-size: 1rem;"></i>
                                             </span>
                                        </button>
                                   </ng-template>
                              </p-step>
                         </p-step-list>

                         <p-step-panels>
                              <p-step-panel [value]="1">
                                   <ng-template #content let-activateCallback="activateCallback">
                                        <div class="flex flex-col gap-2 mx-auto">
                                             <p class="text-center mb-3 mt-1">Personal Details</p>
                                             <div class="card flex justify-center">
                                                  <form [formGroup]="personalDataForm" (ngSubmit)="onSubmitPersonalDataForm(activateCallback)" class="flex flex-col gap-4 w-full">                                             
                                                       <div class="flex flex-col gap-1">
                                                            <p-floatlabel variant="on">
                                                              <input pInputText inputId="firstName" formControlName="firstName" autocomplete="off" fluid />
                                                              <label for="firstName">First Name</label>
                                                            </p-floatlabel>
                                                            @if (isInvalid('firstName', personalDataForm)) {
                                                                 <p-message severity="error" size="small" variant="simple">First name is required.</p-message>
                                                            }
                                                       </div>
                                                       <div class="flex flex-col gap-1">
                                                            <p-floatlabel variant="on">
                                                                 <input pInputText inputId="middleName" formControlName="middleName"
                                                                      autocomplete="off" fluid />
                                                                 <label for="middleName">Middle Name</label>
                                                            </p-floatlabel>
                                                       </div>
                                                       <div class="flex flex-col gap-1">
                                                            <p-floatlabel variant="on">
                                                                 <input pInputText inputId="lastName" formControlName="lastName"
                                                                      autocomplete="off" fluid />
                                                                 <label for="lastName">Last Name</label>
                                                            </p-floatlabel>
                                                            @if (isInvalid('lastName', personalDataForm)) {
                                                                 <p-message severity="error" size="small" variant="simple">Last name is required.</p-message>
                                                            }
                                                       </div>
                                                       <div class="flex flex-col gap-1">
                                                            <p-floatLabel variant="on">
                                                                 <p-dropdown [options]="genders" formControlName="gender"
                                                                      optionLabel="name" inputId="gender" fluid />
                                                                 <label for="gender">Gender</label>
                                                            </p-floatLabel>
                                                            @if (isInvalid('gender', personalDataForm)) {
                                                                 <p-message severity="error" size="small" variant="simple">Gender is required.</p-message>
                                                            }
                                                       </div>
                                                       <div class="flex flex-col gap-1">
                                                            <p-floatlabel variant="on">
                                                                 <p-datepicker formControlName="birthDate" inputId="birthDate" showIcon
                                                                      iconDisplay="input" fluid />
                                                                 <label for="birthDate">Birthdate</label>
                                                            </p-floatlabel>
                                                            @if (isInvalid('birthDate', personalDataForm)) {
                                                                 <p-message severity="error" size="small" variant="simple">Birthdate is required.</p-message>
                                                            }
                                                       </div>    
                                                       <div class=" pt-6">
                                                            <button pButton type="submit" label="Continue" icon="fa-solid fa-arrow-right" iconPos="right" severity="primary" fluid></button>
                                                            <p-button label="Login" severity="secondary" [routerLink]="'/login'" icon="fa-solid fa-arrow-left" iconPos="left" [style]="{ 'margin-top': '8px' }" fluid />
                                                       </div>
                                                  </form>                                          
                                             </div>
                                        </div>
                                       
                                   </ng-template>
                              </p-step-panel>

                              <p-step-panel [value]="2">
                                   <ng-template #content let-activateCallback="activateCallback">
                                        <div class="flex flex-col gap-2 mx-auto">
                                             <p class="text-center mb-3 mt-1">Other Details</p>
                                             <div class="card flex justify-center">
                                                       <form [formGroup]="otherDataForm" (ngSubmit)="onSubmitOtherDataForm(activateCallback)" class="flex flex-col gap-4 w-full">                                             
                                                            <div class="flex flex-col gap-1">
                                                                 <p-floatlabel variant="on">
                                                                      <input pInputText inputId="address" formControlName="address"
                                                                           autocomplete="off" fluid />
                                                                      <label for="address">Address</label>
                                                                 </p-floatlabel>
                                                                 @if (isInvalid('address', otherDataForm)) {
                                                                      <p-message severity="error" size="small" variant="simple">Address is required.</p-message>
                                                                 }
                                                            </div>
                                                            <div class="flex flex-col gap-1">
                                                                 <p-floatlabel variant="on">
                                                                      <p-inputnumber formControlName="phoneNumber" inputId="phoneNumber"
                                                                           fluid />
                                                                      <label for="phoneNumber">Phone Number</label>
                                                                 </p-floatlabel>
                                                            </div>
                                                            <div class="flex flex-col gap-1">
                                                                 <p-floatlabel variant="on">
                                                                      <input pInputText inputId="invitedBy" formControlName="invitedBy"
                                                                           autocomplete="off" fluid />
                                                                      <label for="invitedBy">Invited by</label>
                                                                 </p-floatlabel>
                                                            </div>
                                                            <div class="flex flex-col gap-1">
                                                                 <p-floatlabel variant="on">
                                                                      <input pInputText inputId="emailAddress" formControlName="emailAddress"
                                                                           autocomplete="off" fluid />
                                                                      <label for="emailAddress">Email Address</label>
                                                                 </p-floatlabel>
                                                                 @if (isInvalid('emailAddress', otherDataForm)) {
                                                                      @if (otherDataForm.get('emailAddress')?.errors?.['required']) {
                                                                          <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
                                                                      }
                                                                      @if (otherDataForm.get('emailAddress')?.errors?.['email']) {
                                                                          <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
                                                                      }
                                                                  }
                                                            </div>
                                                            <div class="flex flex-col gap-1">
                                                                 <p-floatlabel variant="on">
                                                                      <p-datepicker formControlName="joinDate" inputId="joinDate" showIcon
                                                                           iconDisplay="input" fluid />
                                                                      <label for="joinDate">Join Date</label>
                                                                 </p-floatlabel>
                                                            </div>
                                                            <div class=" pt-6">
                                                                 <button pButton type="submit" label="Continue" icon="fa-solid fa-arrow-right" iconPos="right" severity="primary" fluid></button>
                                                                 <p-button (click)="activateCallback(1)" label="Personal Details" severity="secondary" icon="fa-solid fa-arrow-left" iconPos="left" [style]="{ 'margin-top': '8px' }" fluid />
                                                       </div>
                                                       </form>
                                             </div>
                                        </div>
                                        
                                   </ng-template>
                              </p-step-panel>

                              <p-step-panel [value]="3">
                                   <ng-template #content let-activateCallback="activateCallback">
                                        <div class="flex flex-col gap-2 mx-auto">
                                             <p class="text-center mb-1 mt-1">Account Details</p>
                                             <p class="text-center mb-2 text-sm"
                                                  [ngStyle]="{ color: 'var(--p-button-danger-background)' }">
                                                  Make sure to remember your username and password.
                                             </p>
                                             <div class="card flex justify-center">
                                                  <form [formGroup]="accountDataForm" (ngSubmit)="onSubmitAccountDataForm(activateCallback)" class="flex flex-col gap-4 w-full">                                             
                                                       <div class="flex flex-col gap-1">
                                                            <p-floatlabel variant="on">
                                                                 <input pInputText inputId="username" formControlName="username"
                                                                      autocomplete="off" fluid />
                                                                 <label for="username">Username</label>
                                                            </p-floatlabel>
                                                            <p-message *ngIf="customeUsernameErrorMessage()"  severity="error" size="small" variant="simple">{{ customeUsernameErrorMessage() }}</p-message>
                                                            @if (isInvalid('username', accountDataForm)) {
                                                                 <p-message severity="error" size="small" variant="simple">Username is required.</p-message>
                                                            }
                                                       </div>
                                                       <div class="flex flex-col gap-1">
                                                            <p-floatlabel variant="on">
                                                                 <p-password formControlName="password" inputId="password" [feedback]="false" [toggleMask]="true" fluid/>
                                                                 <label for="password">Password</label>
                                                            </p-floatlabel>
                                                            @if (isInvalid('password', accountDataForm)) {
                                                                 <p-message severity="error" size="small" variant="simple">Password is required.</p-message>
                                                            }
                                                       </div>
                                                       <div class="flex flex-col gap-1">
                                                            <p-floatlabel variant="on">
                                                                 <p-password formControlName="repeatPassword" inputId="repeatPassword" [feedback]="false" [toggleMask]="true" fluid/>
                                                                 <label for="repeatPassword">Repeat Password</label>
                                                            </p-floatlabel>
                                                            <p-message *ngIf="customPasswordErrorMessage()"  severity="error" size="small" variant="simple">{{ customPasswordErrorMessage() }}</p-message>
                                                            @if (isInvalid('repeatPassword', accountDataForm)) {
                                                                 <p-message severity="error" size="small" variant="simple">Kindly repeat your password.</p-message>
                                                            }
                                                       </div>
                                                       <div class="flex flex-col gap-1">
                                                            <p-floatlabel variant="on">
                                                                 <input pInputText inputId="recoveryEmail" formControlName="recoveryEmail"
                                                                      autocomplete="off" fluid />
                                                                 <label for="recoveryEmail">Recovery Email</label>
                                                            </p-floatlabel>
                                                            @if (isInvalid('recoveryEmail', accountDataForm)) {
                                                                 @if (accountDataForm.get('recoveryEmail')?.errors?.['required']) {
                                                                     <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
                                                                 }
                                                                 @if (accountDataForm.get('recoveryEmail')?.errors?.['email']) {
                                                                     <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
                                                                 }
                                                             }
                                                       </div>
                                                       <div class=" pt-6">
                                                            <button pButton type="submit" label="Submit" icon="fa-solid fa-arrow-right"iconPos="right" severity="primary" fluid></button>
                                                            <p-button (click)="activateCallback(2)" label="Other Details" severity="secondary" icon="fa-solid fa-arrow-left" iconPos="left" [style]="{ 'margin-top': '8px' }" fluid  />
                                                       </div>
                                                  </form>
                                             </div>
                                        </div>
                                   </ng-template>

                              </p-step-panel>
                         </p-step-panels>
                    </p-stepper>
               </div>
          </div>

     </div>

     <!-- <div class="card flex justify-center">
          <p-toast />
          <p-confirmdialog #cd>
               <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
                    <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
                         <div class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
                              [ngStyle]="{ color: 'var(--p-button-primary-color)', backgroundColor: 'var(--p-button-primary-background)' }">
                              <i class="pi pi-info !text-5xl"></i>
                         </div>
                         <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
                         <p class="mb-0 text-center">{{ message.message }}</p>
                         <div class="flex items-center gap-2 mt-6">
                              <p-button label="OK" (onClick)="onAccept()" styleClass="w-32"></p-button>
                         </div>
                    </div>
               </ng-template>
          </p-confirmdialog>
     </div> -->
     


</div>